

.wrapper{
	
	

	position:absolute;
	height:731px;
	margin:0px auto;
	width:100%;
		
}

.btn-group{float:right;
position:top;}


.head1{
	position:absolute;
	top:0px;
	background-color:#33335F;
	width:100%;
	HEIGHT:103px;
	
}




img {
    opacity: 0.4;
    filter: alpha(opacity=40); 
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}



.hd2{
	float:left;
	
	height:103px;
	width:1164.4px;
	display:inline;
	
	background:url("../img/13.jpg");
	background-repeat:no-repeat;
	background-size:100%;
}
.hd1{
	height:103px;
	width:179.9px;
	background-color:gray;
	display:inline;
	float:left;
	
	  
}

.head3{
	background-color:azure;
	position:absolute;
	top:103px;
	width:1349px;	 
		height:600px;
}



.f1{
	
	float:left;
	display:inline;
	width:180px;
		height:600px;
	
	
}
.f2{
		height:600px;
	width:1007px;
	display:inline;

	float:left;
}
.f3{
		height:600px;
	width:162px;
	
	display:inline;
	
	float:left;
}





.foot{
	background:url("../img/13.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	top:702px;
    width:100%;
  position:absolute;
	color:white;
}


.btn-group-vertical{
  margin: 13px;
}


.form-inline{
	padding-left:120px;
	
	}

